body {
  margin: 0;
  background-color: #1F2933;
  font-family: "Source Sans Pro", "Segoe UI", "Myriad Pro", "Helvetica", "Arial", sans-serif;
  text-align: center;
}

/**************************************************
 * Home
 **************************************************/
#title, #home-thumbnail {
  position: relative;
  width: 99.8%;
}

#title {
  top: 50px;
}

#title img {
  display: inline-block;
  width: 250px;
}

#home-thumbnail {
  top: 200px;
}

#home-thumbnail img {
  display: inline-block;
  width: 100%;
}

/**************************************************
 * Footer
 **************************************************/
#footer {
  display: inline-block;
  position: relative;
  top: 350px;
}

#footer p {
  margin: 0;
  font-size: .7em;
  color: #A5A9AD;
}

#footer a {
  font-size: .7em;
  font-weight: 300;
  color: #4D6882;
  text-decoration: none;
}